@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.swiper-container {
  width: 100%;
  max-width: 100%;
  max-height: 100vh;
  min-height: 0;
  min-width: 0;
}

@layer base {
  @font-face {
    font-family: 'Vice City Sans';
    src: local('Vice City Sans'), url('./assets/fonts/ViceCitySans.otf') format('otf');
  }
}

